/* font family */
@font-face {
  font-family: "Karla";
  font-display: swap;
  font-weight: 400;
  src: url("./fonts/karlaregular.woff2") format("woff2"),
       url("./fonts/karlaregular.woff") format("woff"); 
}
@font-face {
  font-display: swap;
  font-family: "Karla";
  font-weight: 700;
  src: url("./fonts/karla700.woff2") format("woff2"),
       url("./fonts/karla700.woff") format("woff"); 
}
@font-face {
  font-family: "DM Serif Display"; /* Georgia*/
  font-display: swap;
  font-weight: 400;
  src: url("./fonts/dmserifdisplayregular.woff2") format("woff2"),
       url("./fonts/dmserifdisplayregular.woff") format("woff");
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", "Arial", sans-serif;
  font-weight: 700;
  margin: 0;
}

img {
  display: block;
}

.container {
  width: 1150px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}
/* header css start */

/* .site-header {
  position: relative;
  content: "";
  z-index: 2;
} */
.header-div {

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-logo {
  padding-top: 31px;
  padding-bottom: 31px;

}
.header-right {
  display: flex;
  align-items: center;
}
/* .header-nav {
} */
.nav-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.nav-items {
  margin-right: 25px;
  text-decoration: none;
}
.nav-items:last-child{
  margin-right: 33px;
}
.nav-a {
  font-style: normal;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1.5px;
  text-decoration: none;
  color: #837D88;
}
.nav-a:hover {
  color: #2C2830;
}
.header-plans {
  padding: 13px 28px;
  font-style: normal;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1.5px;
  text-decoration: none;
  color: #2C2830;
  border: 1.5px solid #2C2830;
}
.header-plans:hover {
  color: #fff;
  background-color: #2C2830;
}
/* header css exit */

/* main css start */

.intro {
  background-color: #2D2641;
}
.intro-div {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 105px;
  padding-bottom: 130px;
}
.intro-div::before {
  position: absolute;
  background-image: url("./images/groupleft.svg");
  content: "";
  z-index: 1;
  background-repeat:space;
  width: 698px;
  height: 650px;
  top: 414px;
  left: -668px;
}

/* .intro-div::after {
  position: absolute;
  background-image: url("./images/groupleft.svg");
  content: "";
  z-index: 1;
  background-repeat:no-repeat;
  width: 698px;
  height: 650px;
  right: -427px;
  bottom: 88px;
} */
.intro-left {
  position: relative;
  width: 540px;
  margin-top: 64px;
}
.site-title {
  font-family: "DM Serif Display", "Georgia", serif;
  margin-top: 0;
  margin-bottom: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 64px;
  letter-spacing: -1px; 
  color: #fff;
}
.site-title::before {
  position: absolute;
  background-image: url("./images/recteng.svg");
  content: "";
  width: 150px;
  height: 1px;
  left: 0px;
  top: -63px;
  background-color: #fff;
  
  
}
.intro-title {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 37px;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
}
.intro-plans {
  margin-bottom: 4px;
  padding: 13px 28px;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1.5px;
  text-decoration: none;
  color: #fff;
  border: 1.5px solid #fff;
}
.intro-plans:hover {
  color: #2c2830;
  background-color: #fff;
}
.intro-img {
  position: absolute;
  top: 105px;
  right: 0;
}

/* main css exit */